<div class="mb">
  <h3>Produits</h3>
  <%= link_to "louez votre équipement", new_stuff_path, class: "btn_index" %>
</div>
<div class="d-flex">
  <div class="row w-50">
    <% @stuffs.each do |stuff| %>
    <% unless stuff.user == current_user %>
      <div class="col-6 mx-auto">
      <%= link_to stuff_path(stuff) do %>
      <%= image_tag '' %>
        <div class="card-category">
          <%= stuff.name %>
            <div class="icone">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p>Prix: <%= stuff.price %>€ la journée</p>
        </div>
        <% end %>
  </div>
  <% end %>
  <% end %>
</div>

<div class="w-50 col-lg-4">
  <div class="map col sticky-top" style="height: 100vh">
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        <div id="map">
        </div>
    </div>
  </div>
    <div style="height: 100%;">
      <div class="show-rows">
        <div class="show-row" *ngFor="let show of shows; let i=index">
          <div #spacer></div>
            <div stickyThing [spacer]="spacer">
              <div #map style="width: 50%; height:100%; position: fixed; left: 500px;" [ngStyle]="{'height': getViewPortHeight()}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
