<section class="header-section">
  <div class="container">
    <header class="navbar">
      <a><strong>Rent-Sports</strong></a>
        <nav>
          <ul>
            <li><%= link_to "Accueil", root_path%></li>
            <li><%= link_to "Produits", stuffs_path %></li>
            <li><%= link_to"Deconexion", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
            <li><%= link_to "Compte",  new_user_session_path %></a></li>
          </ul>
          <div class="barre">
            <input class="recherche" type="text-input"placeholder="Mon équipement"><input class="btn" type="submit" value="Envoyer" >
          </div>
        </nav>
    </header>
  </div>
  <h3 class="mb-0">Produits</h3>
  <%= link_to "New stuff", new_stuff_path, class: "btn-ghost" %>
  <div class="row">
      <% @stuffs.each do |stuff| %>
        <div class="col-6">
          <%= link_to stuff_path(stuff) do %>
            <%= image_tag '' %>
            <div class="card-category">
              <%= stuff.name %>
              <div class="icone">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <p>Prix: <%= stuff.price %>€ la journée</p>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
</section
