<h1><%=  @stuff.name%></h1>
<p><%=  @stuff.year%></p>
<p><%=  @stuff.price%></p>
<p><%=  @stuff.description%></p>
<p>Catégorie: <%= @category_name %></p>

<%# <p><%= @stuff.year, @stuff.price, @stuff.description %></p> %>
<div>

<%= link_to "Delete",
      stuff_path(@stuff),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
 %>
</div>

<div>
  <%= link_to "Edit", edit_stuff_path(@stuff)%>
</div>

<p><%= link_to "Back", stuffs_path %></p>
