<h1><%=  @stuff.name%></h1>
<p>Catégorie: <%= @category_name %></p>
<p> Année : <%=  @stuff.year%></p>
<p><%=  @stuff.price%></p>
<p><%=  @stuff.description%></p>

<%# ------- Réservations ----- %>
<h2>Réservations</h2>
<%= simple_form_for @booking, url: stuff_bookings_path(@stuff.id), method: :post do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> </h2>
      <ul>
        <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :date, as: :date %>

  <div class="actions">
  <%= f.button :submit, 'Reserve' %>
  </div>
<% end %>

<%# ------- Réservations ----- %>

<%# ------ Alerte message -------- %>
<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>
<%# ------ Alerte message -------- %>
<div>
<%= link_to "Delete",
      stuff_path(@stuff),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
</div>

<div>
  <%= link_to "Edit", edit_stuff_path(@stuff)%>
</div>

<p><%= link_to "Back", stuffs_path %></p>
