<h1><%=  @stuff.name%></h1>
<p><%=  @stuff.year%></p>
<p><%=  @stuff.price%></p>
<p><%=  @stuff.description%></p>
<p>Catégorie: <%= @category_name %></p>

<p>Find me in app/views/equipments/show.html.erb</p>
<div>
<%= link_to "Delete",
      stuffs_path(@stuffs),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
</div>

<p><%= link_to "Back", stuffs_path %></p>
