<!DOCTYPE html>
<html>
<head>
  <title>Modifier la réservation</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <h1>Modifier la réservation</h1>

  <%= simple_form_for @booking, url: booking_path(@booking), method: :patch do |form| %>
    <% if @booking.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
        <ul>
          <% @booking.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.input :date %>
    </div>x

    <div>
      <%= form.submit "Modifier la réservation" %>
    </div>
  <% end %>

  <%= link_to "Retour", bookings_path %>
</body>
</html>
