<div class="contain">
  <h1>Dashboard</h1>
  <div class="section">
    <h2>Mes équipements réservés</h2>
    <% @my_stuff_booked.each do |booking| %>
      <div class="booking-card">
        <p class="booking-info">Equipements : <%= booking.stuff.name %></p>
        <p class="booking-info">DATE : <%= booking.date %></p>
        <p class="booking-info">Nom : <%= booking.user.first_name %></p>
        <p class="booking-info">Prix : <%= booking.stuff.price %></p>

        <% if booking.accepted == nil  %>
          <p>Statut : En attente</p>
          <%= link_to "Valider la réservation", accept_booking_path(booking), data: {turbo_method: :put}, class: "btn-primary" %>

        <% elsif booking.accepted %>
          <p>Statut : Acceptée</p>
        <% else %>
          <p>Statut : Refusé</p>
        <% end %>

      </div>
    <% end %>
  </div>

  <div class="section">
    <h2>Mes équipements</h2>
    <ul class="equipment-list">
      <% current_user.stuffs.each do |stuff|%>
        <li class="equipment-item">
          <span class="equipment-name"><%= stuff.name %></span>
            <%= link_to "Edit", edit_stuff_path(stuff), class: "btn-primary" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="section">
    <h2>Vos réservations</h2>
    <% @my_bookings.each do |booking| %>
      <div class="booking-card">

        <p>Pour <%= booking.user.first_name %> <%= booking.user.last_name %> :</p>
        <p><%= booking.stuff.name %> <%= booking.date %></p>
        <% if booking.accepted == nil  %>
        <p>Statut : En attente</p>
        <% elsif booking.accepted %>
        <p>Statut : Acceptée</p>
        <% else %>
        <p>Statut : Refusé</p>
        <% end %>
        <div class="booking-actions">
          <%= link_to "Edit",  edit_booking_path(booking), class: "btn-secondary" %>
          <%= link_to "Delete", booking_path(booking.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn-danger" %>
        </div>
      </div>
    <% end %>

    <div class="section">
      <p><%= link_to "Retour",  stuffs_path, class: "btn-secondary" %></p>
    </div>
  </div>
</div>
