<div>
  <h1>Vos réservations</h1>

  <% @my_bookings.each do |booking| %>
    <p>Pour <%= booking.user.first_name  %> <%= booking.user.last_name  %>:</p>
    <p><%= booking.stuff.name %> <%= booking.date %></p>
      <p>Statut : <%= booking.accepted ? 'Réservé' : 'Non réservé' %></p>

    <div>
      <%= link_to "Delete", booking_path(booking.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div>
  <% end %>

  <div>
  <p><%= link_to "Back",  stuffs_path %></p>
  </div>
</div>

<div>
  <h2>My booked stuffs</h2>
  <% @my_stuff_booked.each do |booking| %>
   <p> Equipements<%= booking.stuff.name %></p>
   <p> DATE :<%= booking.date %></p>
   <p> Nom <%= booking.user.first_name %></p>
   <p> Prix<%= booking.stuff.price %></p>
  <% end %>
</div>
