<h1>New booking</h1>

<%= simple_form_for @booking, url: bookings_path, method: :post do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> </h2>
      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :start_date %>
  <%= f.input :end_date %>

  <div class="actions">
    <%= f.button :submit, 'Reserve' %>
  </div>
<% end %>
