<body>
      <header class="navbar">
        <div class="corps">
          <div class="Sourcelogo" data-action="click->navbar#toggleMenu">
            <div class="logomenu"></div>
            <div class="logomenu"></div>
            <div class="logomenu"></div>
          </div>
        </div>
        <ul class="menu" data-navbar-target="menu">
          <li><%= link_to "Produits", stuffs_path %></li>
          <li><%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
          <li><%= link_to "Compte", new_booking_path %></a></li>
        </ul>
      </header>
    <div class="titre">
      <a><strong><%= link_to "Rent-Sports", root_path %></strong></a>
      </div>



  <section class="header-section">
    <div class="container1">
        <div class="row">
            <div class="col">
                <h1> Trouver votre nouveau Sport!</h1>
                <p>Le Succès n'est toujours pas une question de grandeur,<br> c'est une question de pratique, un travail acharné pour cela notre site vous propose la location d'équipement sportif afin de performer dans le domaine <br> Sportif</p>
                <div class="bouton_home">
                <%= link_to "Explorez Maintenant", stuffs_path %>
                </div>
            </div>
            <div class="col">
              <%= cl_image_tag ('https://res.cloudinary.com/dc3ixejlq/image/upload/v1685622932/zejaxryt7uirodw7xbid.jpg') %>
            </div>
        </div>
    </div>
  </section>

    <section class="future-produits">
        <h2> Meilleurs Produits</h2>
        <div class="rowII">
            <div class="col-4">
                <div class="icone">
            <%= cl_image_tag ('https://res.cloudinary.com/dc3ixejlq/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1685622762/skbjivopb6yj7sgq1isq.jpg') %>
                <h3>Ball de Base-ball</h3>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                <p>Prix: 5000€ la journée</p>
                </div>
              </div>
            <div class="col-4">
                <div class="icone">
                  <%= cl_image_tag ('https://res.cloudinary.com/dc3ixejlq/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1685622885/z1pturesnq0cwj5ru0de.jpg') %>
                <h3>Gant de boxe</h3>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                <p>Prix: 2000€ la journée</p>
                </div>
            </div>
            <div class="col-4">
                <div class="icone">
                  <%= cl_image_tag ('https://res.cloudinary.com/dc3ixejlq/image/upload/v1685622861/hirxf8f4qfueddo4vels.jpg') %>
                <h3>Ballon américain</h3>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                <p>Prix: 1000€ la journée</p>
                </div>
            </div>
                <div class="col-4">
                    <div class="icone">
                      <%= cl_image_tag ('https://res.cloudinary.com/dc3ixejlq/image/upload/v1685622900/cw7wfqpvlskxfrpqmjzs.jpg') %>
                    <h3>Matériel cardio</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    <p>1000€ la journée</p>
                    </div>
                </div>
        </div>
    </section>
</body>
